<!DOCTYPE html>
<html dir="rtl" lang="ar">
    <head>
	 <script type="text/javascript">
            var adlinkfly_url = 'https://fc.lc/';
            var adlinkfly_api_token = 'c120101d489af5703820410ae7ea9655465562d5';
            var adlinkfly_advert = 2;
            var adlinkfly_exclude_domains = ['*.animoo.me','*.twitter.com','*.facebook.com','*.pinterest.com'];
        </script>
        <script src='//fc.lc/js/full-page-script.js'></script>
        {{- partial "head/head.html" . -}}
        {{- block "head" . -}}{{ end }}
    </head>
    <body class="{{ block `body-class` . }}{{ end }}">
        {{- partial "head/colorScheme" . -}}
        <div class="container flex on-phone--column {{ if .Site.Params.widgets.enabled }}extended{{ else }}compact{{ end }} {{ block `container-class` . }}{{end}}">
            {{ partial "sidebar/left.html" . }}
            <main class="main full-width">
                {{- block "main" . }}{{- end }}
            </main>
            {{- block "right-sidebar" . -}}{{ end }}
        </div>
        {{ partial "footer/include.html" . }}
    </body>
</html>
