/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.content.post__content {
    padding: 0px 0px;
    font-size: 12px;
}	
.box_home_info {
  background-color: #fff;
  padding: 25px;
  margin-bottom: 25px;
  border: 1px solid transparent;
  border-radius: 4px;
  border-style: solid;
  border-color: #ddd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.strip-custom {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  border-style: solid;
  border-color: #ddd;
}

.breadcrumb-custom{
  padding-top: 5pt;
}

.menu-title {
   color: #fff;
   font-weight: bold;
}
.btn-outline-success {
    color: #f5f8ff;
    background-color: #379155;
    background-image: none;
    border-color: #28a745;
}	
.mr-sm-2, .mx-sm-2 {
    margin-left: 0rem!important;	
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 9px;
    font-size: 1rem;
    line-height: 1.5;
}
.widget-taglist__link {
    display: inline-block;
    margin: 0 0 8px 4px;
    font-size: 12px;
    text-transform: uppercase;
}
.clouds {
	padding: 5px 10px;
    font-weight: 700;
    color: #fff;
    white-space: pre-line;
    background: #34548d;
    margin-top: -5%;
    font-size: smaller;
	
}
.widget__content {
	position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #eff2fc;
    border-radius: .25rem;
    box-shadow: -10px 10px 40px #f5f8ff;
	
}
/* Pagination */
.pagination {
	margin-top: 20px;
}

.pagination__item {
	display: inline-block;
	padding: 10px 15px;
	font-weight: 700;
	color: #000;
	background: #f5f5f5;
}

.pagination__item:hover,
.pagination__item--current {
	color: #fff;
	background: #3abd69;
}