<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.LanguageCode | default "ar-SA" }} ">
<head>
	<meta name="verifywebsiteownership" content="gA71TkQbO2Os6LlCICYKZ5yXK"/>
	<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101278631);</script>
        <script async src="//static.getclicky.com/js"></script>
<!-- Safelinku.com Full Page Script Exclude-->
<script type="text/javascript">
    var go_url = 'https://semawur.com/';
    var api = 'd36143d3e35c41ea9bad91e6672f06d15a7b9b7c';
    var shorten_exclude = ['https://www.tahmil.me/', 'tahmil.me', '//www.tahmil.me/']; 
</script>
<script src='https://safelinku.com/js/web-script.js'></script>
<!-- Safelinku.com Full Page Script Exclude-->
	<script type="text/javascript">
            var adlinkfly_url = 'https://fc.lc/';
            var adlinkfly_api_token = 'c120101d489af5703820410ae7ea9655465562d5';
            var adlinkfly_advert = 2;
            var adlinkfly_exclude_domains = ['https://www.tahmil.me','tahmil.me','www.tahmil.me','http://www.tahmil.me','https://www.tahmil.me/'];
        </script>
        <script src='//fc.lc/js/full-page-script.js'></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
	<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>
	<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
	{{- if .Site.Params.opengraph }}
		{{ template "_internal/opengraph.html" . }}
	{{- end }}
	{{- if .Site.Params.schema }}
		{{ template "_internal/schema.html" . }}
	{{- end }}
	{{- if .Site.Params.twitter_cards }}
		{{ template "_internal/twitter_cards.html" . }}
	{{- end }}

	{{ $style := resources.Get "css/style.css" | resources.ExecuteAsTemplate "css/style.css" . -}}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	{{ range .Site.Params.customCSS -}}
	<link rel="stylesheet" href="{{ . | relURL }}">
	{{- end }}

	{{- with .OutputFormats.Get "rss" }}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

	<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">
	{{- if not .Site.IsServer }}
		{{ template "_internal/google_analytics_async.html" . }}
	{{- end }}
</head>
<body class="body">
	<div class="container container--outer">
		{{ partial "header" . }}
		<div class="wrapper flex">
			<div class="primary">
			{{ block "main" . }}
				{{ with .Content }}
				<div class="content main__content clearfix">
					{{ . }}
				</div>
				{{ end }}
			{{ end }}
			</div>
			{{ partial "sidebar.html" . }}
		</div>
		{{ partial "footer" . }}
	</div>
<script async defer src="{{ "js/menu.js" | relURL }}"></script>
{{ range .Site.Params.customJS -}}
<script src="{{ . | relURL }}"></script>
{{- end }}
</body>
</html>
